@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap');

@mixin center($horizontal: true, $vertical: true) {
    position: absolute;
    @if ($horizontal and $vertical) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    } @else if ($horizontal) {
      left: 50%;
      transform: translate(-50%, 0);
    } @else if ($vertical) {
      top: 50%;
      transform: translate(0, -50%);
    }
  }

* {
	text-decoration: none;
	list-style: none;
	margin: 0px;
	padding: 0px;
	outline: none;

    // to prevent site to be more than 100% width
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $fontFamily !important;
    font-style: normal;
    text-align: center;
    color: $mainColor;
    direction: rtl;
    
    /*
    background: url('../../assets/jpeg/background.jpg') repeat 0 0;
    background-image: url('../../assets/jpeg/background.jpg') repeat 0 0;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    */
    background: linear-gradient(180deg, rgba(90,136,255,1) 0%, rgba(255,255,255,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;

    @media only screen and (max-width: 899px) {
        background: linear-gradient(180deg, rgba(90,136,255,1) 0%, rgba(255,255,255,1) 100%);
        background-repeat: no-repeat;
    }
}
 
h1, h2, h3, h4 {
    display: block;
    font-weight: bold;
    width: 100%;
    margin: 1em 0 1em 0;
}
h1 {
    font-size:38px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 25px;
}
h4 {
    font-size: 25px;
}
span{
    display: block;
    width: 100%;
    font-weight: normal;
}
ul {
    list-style-type: none;
}
button{
    background-color: $mainColor;
    color: $secondColor;
    cursor: pointer;
    border: 0px;
    &:hover{
        background: #06136b radial-gradient(circle, transparent 1%, #06136b 1%) center/15000% !important;
    }
}
details summary::-webkit-details-marker {
    display:none;
}
#logo-text{
    display: none;
}
.close-icon{
    position: absolute;
    top: 15px;
    left: 10px;
    width: 20px;
    height: 20px;
    color: black;
    cursor: pointer;
}
@media only screen and (max-width: 980px) {
    #logo-text{
        display: block;
        position: absolute;
        top: 20px;
        width: 200px;
        @include center(true, false);
    }
}

.ltr{
    direction: ltr;
    
    .close-icon{
        left: auto;
        right: 20px;
    }
}