@font-face {
    font-family: 'Rubik';
    font-weight: 300;
    src: url('../../assets/fonts/Rubik/Rubik-Light.ttf') format('truetype');
    font-display: swap
    
}
@font-face {
    font-family: 'Rubik';
    font-weight: normal;
    font-weight: 400;
    src: url('../../assets/fonts/Rubik/Rubik-Regular.ttf') format('truetype');
    src: url('../../assets/fonts/Rubik/Rubik.eot'); /* IE9 Compat Modes */
    src: url('../../assets/fonts/Rubik/Rubik.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/Rubik/Rubik.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/fonts/Rubik/Rubik.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../assets/fonts/Rubik/Rubik.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-display: swap
}
@font-face {
    font-family: 'Rubik';
    font-weight: 500;
    src: url('../../assets/fonts/Rubik/Rubik-Regular.ttf') format('truetype');
    font-display: swap
}
@font-face {
    font-family: 'Rubik';
    font-weight: bold;
    font-weight: 700;
    src: url('../../assets/fonts/Rubik/Rubik-Bold.ttf') format('truetype');
    font-display: swap
}
@font-face {
    font-family: 'Rubik';
    font-weight: 900;
    src: url('../../assets/fonts/Rubik/Rubik-Black.ttf') format('truetype');
    font-display: swap
}