@font-face {
    font-family: 'Rubik';
    font-weight: normal;
    src: url('../assets/fonts/Rubik/Rubik-Regular.ttf') format('truetype');;
}
@font-face {
    font-family: 'Rubik';
    font-weight: bold;
    src: url('../assets/fonts/Rubik/Rubik-Bold.ttf') format('truetype');;
}
@font-face {
    font-family: 'Rubik';
    font-weight: 200;
    src: url('../assets/fonts/Rubik/Rubik-Light.ttf') format('truetype');;
}