@import "../base/_fonts";
@import "../base/_variables";
@import "../base/_base";

h1 {
  float: right;
  right: 20%;
  font-size: 72px;
  color: $secondColor;
}
.contact-container {
  display: grid;
  grid-template-columns: 1fr 441px 1fr;
  grid-column-gap: 20px;
  // margin-top: 90px;


  span {
    display: block;
    margin: 1em;
    font-size: 24px;
    float: right;
  }

  form {
    display: block;
    // margin: 1em;
    // float: right;
    
    input {
      display: block;
      // width: 90%;
      // margin: 1em;
      margin-bottom: 1rem;
      background: $secondColor;
      box-shadow: 2px 2px 15px rgba(90, 136, 255, 0.35);
      border-radius: 4px;
    }

    //form placeholder
    ::placeholder ,  :-ms-input-placeholder  , ::-ms-input-placeholder{
      font-size: 18px;
      text-align: right;
      color: rgba(90, 136, 255, 0.6);
    }

    //submit button
    input[type=submit] {
     display: block;
      color: $secondColor;
      // float: right;
      padding: 0px 12px;
      width: 83px;
      height: 45px;
      background: #12218D;  /* dark blue */        
      box-shadow: 2px 2px 15px rgba(90, 136, 255, 0.35);  /* elevation blue */ 
      border-radius: 3px;
    }
  }

  
  form > input:nth-child(-n+3) {
    height: 40px;
    width: 100%;

  }
  
  form > textarea {
    margin-bottom: 1rem;
     resize: none; 
     overflow: auto; 
    width: 100%;
    height: 135px;

  }
  
  form >*{
    box-shadow: 2px 2px 15px;
    border-radius: 4px;
  }
}




.header-container {
background-color: rosybrown;
display: flex;
}

.main-container{
 background-color: seagreen;
}

.sub-container{
  background-color:peru ;

}



// .header-container {
//   position: absolute;
//   left: 20%;
//   // img{
//   //   left: 10px;
//   // }

// }

// .main-container{
// position: absolute;
// @include center(true, false);


// }
