@font-face {
  font-family: 'Rubik';
  font-weight: normal;
  src: url("../../assets/fonts/Rubik/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Rubik';
  font-weight: bold;
  src: url("../../assets/fonts/Rubik/Rubik-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Rubik';
  font-weight: 200;
  src: url("../../assets/fonts/Rubik/Rubik-Light.ttf") format("truetype");
}

/* dark blue */
* {
  text-decoration: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
  outline: none;
}

body {
  font-family: "Rubik" !important;
  font-style: normal;
  text-align: center;
  color: #12218D;
  direction: rtl;
  background: url("../../assets/jpeg/background.jpg") repeat 0 0;
  background-image: url("../../assets/jpeg/background.jpg") repeat 0 0;
  background-size: 100%;
}

body .ltr {
  direction: ltr;
}

h1, h2, h3, h4 {
  display: block;
  font-weight: bold;
  width: 100%;
  margin: 1em 0 1em 0;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 25px;
}

span {
  display: block;
  width: 100%;
  font-weight: normal;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

h1 {
  float: right;
  right: 20%;
  font-size: 72px;
  color: #FFFFFF;
}

.contact-container {
  margin: 0 auto;
  width: 50%;
}

.contact-container span {
  display: block;
  margin: 1em;
  font-size: 24px;
  float: right;
}

.contact-container form {
  display: block;
  margin: 1em;
  float: right;
}

.contact-container form input {
  display: block;
  margin: 1em;
  background: #FFFFFF;
  -webkit-box-shadow: 2px 2px 15px rgba(90, 136, 255, 0.35);
          box-shadow: 2px 2px 15px rgba(90, 136, 255, 0.35);
  border-radius: 4px;
}

.contact-container form :-ms-input-placeholder, .contact-container form :-ms-input-placeholder, .contact-container form ::-ms-input-placeholder {
  font-size: 18px;
  text-align: right;
  color: rgba(90, 136, 255, 0.6);
}

.contact-container form ::-ms-input-placeholder, .contact-container form :-ms-input-placeholder, .contact-container form ::-ms-input-placeholder {
  font-size: 18px;
  text-align: right;
  color: rgba(90, 136, 255, 0.6);
}

.contact-container form ::placeholder, .contact-container form :-ms-input-placeholder, .contact-container form ::-ms-input-placeholder {
  font-size: 18px;
  text-align: right;
  color: rgba(90, 136, 255, 0.6);
}

.contact-container form input[type=submit] {
  color: #FFFFFF;
  float: right;
  padding: 0px 12px;
  width: 83px;
  height: 45px;
  background: #12218D;
  /* dark blue */
  -webkit-box-shadow: 2px 2px 15px rgba(90, 136, 255, 0.35);
          box-shadow: 2px 2px 15px rgba(90, 136, 255, 0.35);
  /* elevation blue */
  border-radius: 3px;
}

.contact-container form > input:nth-child(-n+3) {
  width: 441;
  height: 40px;
}

.contact-container form > textarea {
  resize: none;
  overflow: auto;
  width: 441px;
  height: 135px;
}

.contact-container form > * {
  -webkit-box-shadow: 2px 2px 15px;
          box-shadow: 2px 2px 15px;
  border-radius: 4px;
}
/*# sourceMappingURL=contact.css.map */