h1 {
    float: right;
    right: 20%;
    font-size: 72px;
    color: var(--second-color);
}
.contact-container {
    margin: 0 auto;
    width: 50%;
}
.contact-container span{
    display: block;
    margin: 1em;
    font-size: 24px;
    float: right;
}
.contact-container form {
    display: block;
    margin: 1em;
    float: right;
}
.contact-container input {
    display: block;
    width: 90%;
    margin: 1em;
    background: var(--second-color);
    box-shadow: 2px 2px 15px rgba(90, 136, 255, 0.35);
    border-radius: 4px;
}
.contact-container ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 18px;
    text-align: right;
    color: rgba(90, 136, 255, 0.6);
}  
.contact-container :-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 18px;
    text-align: right;
    color: rgba(90, 136, 255, 0.6);
}
.contact-container ::-ms-input-placeholder { /* Microsoft Edge */
    font-size: 18px;
    text-align: right;
    color: rgba(90, 136, 255, 0.6)
}
.contact-container input[type=submit]{
    color: var(--second-color);
    float: right;
    padding: 0px 12px;
    width: 83px;
    height: 45px;
    /* dark blue */  
    background: #12218D;
    /* elevation blue */  
    box-shadow: 2px 2px 15px rgba(90, 136, 255, 0.35);
    border-radius: 3px;
}
