@import "../base/_fonts";
@import "../base/_variables";
@import "../base/_base";

//* ========= reusable classes ============ */
section{
  width: 100%;
  min-height: 600px;
  margin-bottom: 100px;
}
.read-more {
  display: block;
  width: auto;
  min-width: 116px;
  height: 45px;
  margin: 0 auto;   
  padding: 0px 10px;   
  background: $secondColor;
  color: #5A88FF; /* purple blue */
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  font-size: 15px;
}

/* ========= welcome-container ============ */
.welcome-container {
  box-sizing:border-box; 
  display: block;
  position: relative;
  max-width: 100%;
  padding: 10% 15% 0 0;
  color: $secondColor;

  #logo-text{
    display: none;
  }
  .title-container {
    display: block;
    text-align: right;
    width: 100%;
    margin-bottom: 5%;
  }
  h1{
    font-size: 40px;
    margin: 0.5em 0 0.5em 0;
  }
  h2{
    font-size: 20px;
    font-weight: normal;
  }
  button {
    display: block;
    right: 0;
    width: auto;
    height: 45px;
    background-color: $mainColor;
    color: $secondColor;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.2);
    border-radius: 32px;
    font-size: 17px;
    padding: 0px 20px 0px 20px;
    font-weight: normal;

    img{
      width: 12px;
    }
  }
  #illustration{
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
  }
  #logo-icon{
    position: absolute;
    width: 15%;
    top: 30%;
    left: 10%;
  }
  @media only screen and (max-width: 980px) {
    padding-top: 25%;
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 0;

    #logo-text{
      display: block;
      position: absolute;
      top: 20px;
      width: 200px;
      @include center(true, false);
    }
    .title-container {
      margin-bottom: 30%;
    }
    #logo-icon{
      display: none;
    }
  }
}

/* ========= explanation-container ============ */
.explanation-container {
  ul {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin: 3em auto;
    width: 70%;
  
    li {
      margin: 1em 2em;
      img {
        display: block;
        width: 80%;
        margin: 0 auto;
        background-color: #eed;
        box-shadow: 2px 2px 15px rgba(90, 136, 255, 0.35);
        -moz-box-shadow: 2px 2px 15px rgba(90, 136, 255, 0.35);
        -webkit-box-shadow: 2px 2px 15px rgba(90, 136, 255, 0.35); 
        -o-box-shadow: 2px 2px 15px rgba(90, 136, 255, 0.35);
        border-radius:100%;
      }
      span{
        font-size: 15px;
        margin-top: 0.1em;
      }
    }
  }
}

/* ========= actions-container ============ */
.actions-container ul{
  display: flex; 
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  width:100%;
  padding:0;

  .card {
    display: inline-block;
    width: 40%;
    margin-top: 2em;
    background: $secondColor;
    box-shadow: 2px 2px 15px rgba(90, 136, 255, 0.35);
    border-radius: 4px;
  
    .icon {
      display: block;
      margin: 2em auto;
      width: 30%;
    }
    span {
      display: block;
      margin: 0.1em auto;
      font-size: 20px;
      font-weight: bold;
    }
    button {
      position: relative;
      width: auto;
      min-width: 20%;
      height: 45px;
      margin: 2.5em auto;
      padding: 0px 20px 0px 20px;
      background: $mainColor;  
      box-shadow: 2px 2px 15px rgba(90, 136, 255, 0.35);
      border-radius: 5px;
      color: $secondColor;
      font-size: 17px;
    
      img {
        display: inline-block;
        color: $secondColor;
        vertical-align: middle;
        margin-left: 10px;
      }
    }
  }
}

/* ========= sponsors-container ============ */
/*
.sponsors-container{
  ul {
    width: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    margin: 0 auto;
  }
  li {
    width: 100%;
    margin: 1em auto;

    span {
      font-weight: bold;
      font-size: 24px;
    }
    img {
      display: block;
      width: 100%;
      margin-top: 2em;
    }
  }
}
*/
/* ========= members-container ============ */
.special-members{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;

  li {
    width: 100px;
    margin: 1em 2em;
    img {
      width: 100px;
      height: 100px;
      display: block;
      border-radius: 50%;
      margin-bottom: 0.3em;
    }
    span {
      display: block;
      width: 100%;
      font-size: 24px;
      font-weight: 500;
    }
  }
}
.members {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
  margin: 2em auto;
  width: 70%;
  font-weight: normal;
}

.ltr{
  .explanation-container ul, .actions-container ul, .special-members{
    flex-direction: row-reverse;
  }

/* ========= welcome-container ============ */
  .welcome-container {
    padding: 10% 0 15% 15%;

    .title-container {
      text-align: left;
    }
    button {
      float: left;
    }
    #illustration{
      left: 0;
    }
    #logo-icon{
      right: 10%;
    }
  }
}

@media only screen and (max-width: 980px) {
  .explanation-container {
    ul {
      flex-direction: column;
    }
  }

  .actions-container ul {
    flex-direction: column;
    .card {
      width: 80%;

      button {
        margin: 1em auto;
      }
    }
  }
  .special-members{
    width: 100%;
  }
}
