@font-face {
  font-family: 'Rubik';
  font-weight: normal;
  src: url("../../assets/fonts/Rubik/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Rubik';
  font-weight: bold;
  src: url("../../assets/fonts/Rubik/Rubik-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Rubik';
  font-weight: 200;
  src: url("../../assets/fonts/Rubik/Rubik-Light.ttf") format("truetype");
}

/* dark blue */
* {
  text-decoration: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
  outline: none;
}

body {
  font-family: "Rubik" !important;
  font-style: normal;
  text-align: center;
  color: #12218D;
  direction: rtl;
  background: url("../../assets/jpeg/background.jpg") repeat 0 0;
  background-image: url("../../assets/jpeg/background.jpg") repeat 0 0;
  background-size: 100%;
}

body .ltr {
  direction: ltr;
}

h1, h2, h3, h4 {
  display: block;
  font-weight: bold;
  width: 100%;
  margin: 1em 0 1em 0;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 25px;
}

span {
  display: block;
  width: 100%;
  font-weight: normal;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

section {
  width: 100%;
  min-height: 500px;
  margin-bottom: 100px;
}

.read-more {
  display: block;
  width: 116px;
  height: 45px;
  margin: 0 auto;
  padding: 0px 10px;
  background: #FFFFFF;
  color: #5A88FF;
  /* purple blue */
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  font-size: 15px;
}

/* ========= welcome-container ============ */
.welcome-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: relative;
  max-width: 100%;
  padding: 10% 15% 0 0;
  color: #FFFFFF;
}

.welcome-container .title-container {
  display: block;
  text-align: right;
  width: 100%;
  margin-bottom: 5%;
}

.welcome-container h1 {
  font-size: 40px;
  margin: 0.5em 0 0.5em 0;
}

.welcome-container h2 {
  font-size: 20px;
  font-weight: normal;
}

.welcome-container button {
  display: block;
  right: 0;
  width: auto;
  height: 50px;
  background-color: #12218D;
  color: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.2);
          box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.2);
  border-radius: 32px;
  font-size: 20px;
  padding: 0px 20px 0px 20px;
}

.welcome-container button img {
  width: 15px;
}

.welcome-container .logo {
  position: absolute;
  width: 15%;
  top: 30%;
  left: 10%;
}

/* ========= explanation-container ============ */
.explanation-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 3em auto;
  width: 60%;
}

.explanation-container ul li {
  margin: 0 2em;
}

.explanation-container ul li img {
  display: block;
  width: 100%;
  /* box-shadow: 2px 2px 15px rgba(90, 136, 255, 0.35);*/
}

.explanation-container ul li span {
  font-size: 15px;
  margin-top: 0.1em;
}

/* ========= actions-container ============ */
.actions-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 auto;
  width: 100%;
  padding: 0;
}

.actions-container ul .card {
  display: inline-block;
  width: 40%;
  background: #FFFFFF;
  -webkit-box-shadow: 2px 2px 15px rgba(90, 136, 255, 0.35);
          box-shadow: 2px 2px 15px rgba(90, 136, 255, 0.35);
  border-radius: 4px;
}

.actions-container ul .card .icon {
  display: block;
  margin: 2em auto;
  width: 30%;
}

.actions-container ul .card span {
  display: block;
  margin: 0.1em auto;
  font-size: 20px;
  font-weight: bold;
}

.actions-container ul .card button {
  position: relative;
  width: auto;
  min-width: 20%;
  height: 45px;
  margin: 3em auto;
  padding: 5px 20px 0px 20px;
  background: #12218D;
  -webkit-box-shadow: 2px 2px 15px rgba(90, 136, 255, 0.35);
          box-shadow: 2px 2px 15px rgba(90, 136, 255, 0.35);
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 15px;
}

.actions-container ul .card button img {
  display: inline-block;
  color: #FFFFFF;
  vertical-align: middle;
  margin-left: 10px;
}

/* ========= sponsors-container ============ */
.sponsors-container ul {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  margin: 0 auto;
}

.sponsors-container li {
  width: 100%;
  margin: 1em auto;
}

.sponsors-container li span {
  font-weight: bold;
  font-size: 24px;
}

.sponsors-container li img {
  display: block;
  width: 100%;
  margin-top: 2em;
}

/* ========= members-container ============ */
.special-members {
  /*padding: 1em 5em 1em 5em;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 auto;
}

.special-members li {
  margin: 0 2em;
}

.special-members li img {
  display: block;
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

.special-members li span {
  display: block;
  width: 100%;
  margin-top: 0.1em;
  font-size: 24px;
  font-weight: bold;
}

.members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 2em auto;
  width: 70%;
  font-weight: normal;
}
/*# sourceMappingURL=home.css.map */