@font-face {
  font-family: 'Rubik';
  font-weight: normal;
  src: url("../../assets/fonts/Rubik/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Rubik';
  font-weight: bold;
  src: url("../../assets/fonts/Rubik/Rubik-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Rubik';
  font-weight: 200;
  src: url("../../assets/fonts/Rubik/Rubik-Light.ttf") format("truetype");
}

/* dark blue */
* {
  text-decoration: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
  outline: none;
}

body {
  font-family: "Rubik" !important;
  font-style: normal;
  text-align: center;
  color: #12218D;
  direction: rtl;
  background: url("../../assets/jpeg/background.jpg") repeat 0 0;
  background-image: url("../../assets/jpeg/background.jpg") repeat 0 0;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body .ltr {
  direction: ltr;
}

h1, h2, h3, h4 {
  display: block;
  font-weight: bold;
  width: 100%;
  margin: 1em 0 1em 0;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 25px;
}

span {
  display: block;
  width: 100%;
  font-weight: normal;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  border: 0px;
}

button:hover {
  opacity: 0.8;
}

header {
  position: fixed;
  width: 100%;
  z-index: 9;
  padding: 15px 20px 5px;
}

@media only screen and (min-width: 980px) {
  header.scrolled {
    background-color: #fff !important;
    -webkit-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    -webkit-box-shadow: 0px 4px 20px rgba(90, 136, 255, 0.31);
            box-shadow: 0px 4px 20px rgba(90, 136, 255, 0.31);
  }
}

#logo {
  width: 130px;
  top: 10px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  left: 52%;
}

nav {
  width: auto;
  float: right;
  width: 100%;
}

nav ul {
  padding-left: 20px;
}

nav ul li {
  float: left;
}

nav ul li:last-child {
  padding-right: 0px;
}

nav ul li a {
  color: #002e5b;
  font-size: 15px;
  font-weight: normal;
  padding: 5px 20px;
  display: inline-block;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

nav ul li a:hover {
  font-weight: bold;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

nav .spnoserd-container {
  float: right;
}

nav .spnoserd-container span {
  display: inline;
  vertical-align: super;
  font-size: 15px;
}

nav .spnoserd-container img {
  margin-right: 10px;
  margin-left: 10px;
}

.toggle-menu ul {
  display: table;
  width: 25px;
}

.toggle-menu ul li {
  width: 100%;
  height: 3px;
  background-color: #002e5b;
  margin-bottom: 4px;
}

.toggle-menu ul li:last-child {
  margin-bottom: 0px;
}

input[type=checkbox] {
  display: none;
}

label {
  display: none;
}

@media only screen and (max-width: 980px) {
  header {
    padding: 20px 0px;
  }
  nav {
    width: 30%;
  }
  #logo, .spnoserd-container {
    display: none;
  }
  input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
    background: none;
  }
  input[type=checkbox]:fous {
    background: none;
  }
  input[type=checkbox]:checked ~ nav {
    display: block;
  }
  label {
    float: right;
    padding: 8px 0px;
    display: block;
    cursor: pointer;
  }
  nav {
    display: none;
    position: absolute;
    right: 0px;
    top: 53px;
    background-color: #002e5b;
    padding: 0px;
    z-index: 99;
  }
  nav ul {
    width: auto;
  }
  nav ul li {
    float: none;
    padding: 0px;
    width: 100%;
    display: table;
  }
  nav ul li a {
    color: #FFF;
    font-size: 15px;
    padding: 10px 20px;
    display: block;
    border-bottom: 1px solid rgba(225, 225, 225, 0.1);
  }
}

@media only screen and (max-width: 460px) {
  nav {
    top: 47px;
  }
  label {
    padding: 5px 10px;
  }
}
/*# sourceMappingURL=nav-bar.css.map */