@import "../base/_fonts";
@import "../base/_variables";
@import "../base/_base";

header{
  position: absolute;
  width: 100%;
  z-index: 9;
  padding: 15px 15px 5px 0px;
  @media only screen and (min-width: 980px) {
	position: fixed;
    &.scrolled {
      background-color: #fff !important;
      transition: background-color 200ms linear;
      box-shadow: 0px 4px 20px rgba(90, 136, 255, 0.31);
    }
  }
}
#logo {
  cursor: pointer;
  width: 130px;
  top: 10px;
  @include center(true, false);
  left:52%;
}
nav {
	width: auto;
	float: right;
	width: 100%;
  
	ul {
    padding-left: 20px;
		li {
			float: left;
			&:last-child {
				padding-right: 0px;
			}
			a {
				color: #002e5b;
        		font-size: 15px;
        		font-weight: normal;
				padding: 5px 20px;
				display: inline-block;
        		transition: all 0.2s ease 0s;
				&:hover {
					font-weight: bold;
					transition: all 0.2s ease 0s;
				}
			
			}
		}
  }
  .spnoserd-container{
    float:right;

    span{
      display: inline;
      vertical-align: middle;
      font-size: 15px;
    }
    img{
	  width: 50px;
	  vertical-align: middle;
      margin-right: 10px;
	  margin-left: 10px;
    }
  }
}
.toggle-menu {
	ul {
		display: table;
		width: 25px;
		li {
			width: 100%;
			height: 3px;
			background-color: #002e5b;
			margin-bottom: 4px;
			&:last-child {
				margin-bottom: 0px;
			}
		}
	}
}
input[type=checkbox] {
	display: none;
}
label {
	display: none;
}

@media only screen and (max-width: 980px) {
	header {
		padding: 20px 0px;
  }
  nav{
    width: 30%;
  }
  #logo, .spnoserd-container{
		display: none;
	}
	input[type=checkbox] {
		position: absolute;
		top: -9999px;
		left: -9999px;
		background: none;
		&:fous {
			background: none;
		}
		&:checked {
			~ {
				nav {
					display: block;
				}
			}
		}
	}
	label {
		float: right;
		padding: 8px 0px;
		display: block;
		cursor: pointer;
	}
	nav {
		display: none;
		position: absolute;
		right: 0px;
		top: 53px;
		background-color: #002e5b;
		padding: 0px;
		z-index: 99;
		ul {
			width: auto;
			li {
				float: none;
				padding: 0px;
				width: 100%;
				display: table;
				a {
					color: #FFF;
					font-size: 15px;
					padding: 10px 20px;
					display: block;
					border-bottom: 1px solid rgba(225,225,225,0.1);
				}
			}
		}
	}
}

@media only screen and (max-width: 460px) {
  nav {
		top: 47px;
  }
	label {
		padding: 5px 10px;
	}
}

.ltr{
	#logo {
		width:110px;
	}
}