@import "../base/_fonts";
@import "../base/_variables";
@import "../base/_base";

header{
	width: 100%;
	z-index: 1000;
	position: fixed;
	display: flex;
	align-items: flex-end;
	top: 10px;
	right: 6px;

@media only screen and (min-width: 980px) {
	padding: 15px 15px 25px 0px;
	display: block;
	top: 0;
	right: 0;
    &.scrolled {
      background-color: #fff !important;
      transition: background-color 200ms linear;
      box-shadow: 0px 4px 20px rgba(90, 136, 255, 0.31);
    }
  }
}

#logo {
  width: 130px;
  cursor: pointer;
}

nav {
	direction: rtl !important;
	display: flex;
	justify-content:space-between;
	margin: -39px 0px 0px 0px;

	
  .links{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 12px;
    display: flex;
	justify-content:space-between;
	
	span{
		&:hover {
			// font-weig
			color: black;
			cursor: pointer;
		}		
	}
  }
  
	ul {
		li {
			margin-left: 10px;
			margin-right: 10px;	
			a {
				color: #002e5b;
        		font-size: 15px;
        		font-weight: normal;			
        		transition: all 0.2s ease 0s;
				&:hover {
					font-weight: bold;
					transition: all 0.2s ease 0s;
				}			
			}
		}
	}

  .spnoserd-container{
	  display: flex;

    span{
	    align-self: center;
      display: inline;
      vertical-align: middle;
	    font-size: 16px;	  
    }
    img{
      align-self: center;
      width: 50px;
      vertical-align: middle;
      margin-right: 10px;
	    margin-left: 10px;
	  }	
  }
  
  .funcs{
    margin-left: 40px;
    margin-right: 40px;
    display: flex;

	  .record-btn {	
      display: flex;
      padding: 0px 10px;
      width: 122px;
      height: 45px;
      background-color: #5A88FF;
      border-radius: 3px;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
      font-size: 18px;				
		
		img{
			align-self: center;	
			padding: 3px 4px 0px 0px;
		}	
		
		span{
			align-self: center;
			padding: 0px 0px 0px 10px;			
		}
	}
	
	.share-btn{
		margin-left: 10px;
		margin-right: 10px;		
		padding:0px;
		background-color: transparent;
		box-shadow: none;
	
		&:hover{
			background: none!important;
			}
		}
	  
	  .icon {
      display: block;
      margin: 2em auto;
      width: 40%;
      max-width: 150px;
	  }
	  span {
      display: block;
      width:70%;
      margin: 0.1em auto;
      font-size: 18px;
      font-weight: 600;
	  }
	
	 
	  button{
      min-width: 20%;
      height: 45px;
      padding: 13.25px 20px 20px 6px;
      box-shadow: 2px 2px 15px rgba(90, 136, 255, 0.35);
      border-radius: 5px;
      font-size: 17px;
	  
		img {
		  padding: 3px 9px 0px 0px;
		  display: inline-block;
		  color: $secondColor;
		  vertical-align: middle;
		  margin-left: 10px;
		}
	  }
  }
  }


input[type=checkbox] {
	display: none;
}


.ltr{
	#logo {
		width:110px;
	}
	.spnoserd-container span{
		order: 1;		
	}

	.funcs{		
		.record-btn
		{ 
		    padding: 0px 0px;
			img {
				order: 1;
				padding: 1px 0px 0px 0px;
			}
			span{
				align-self: center;
				padding: 0px 9px 0px 0px;			
			}
		}
	}


	.toggle-menu{
		&.open-menu {	
		left: 0px;
		right: auto;
	}
     #close-burger{
      right: auto;
      left: 15px;
		}
}


}
.terms-dialog {
    position: fixed;
    padding: 10px;
    max-width: 70%;
    max-height: 70%;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(255,255,255,1);
    visibility: hidden;
    opacity: 0;
    /* "delay" the visibility transition */
    -webkit-transition: opacity .5s, visibility 0s linear .5s;
    transition: opacity .5s, visibility 0s linear .5s;
    z-index: 9999;
    text-align: right;
    overflow-y: scroll;

	  h4{
      font-size: 25px;
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 20px;
	  }
	  span{
      font-size: 15px;
      font-weight: bold;
      margin: 15px 0 5px 0;
	  }
	  p{
      font-size: 15px;
      font-weight: normal;
      white-space: pre-line
	  }
	}
	
	.ltr{
		 .terms-dialog {
			  text-align: left;
		}
	}
    .terms-dialog:target {
      visibility: visible;
      opacity: 1;
      /* cancel visibility transition delay */
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
    }
    .close-popup {
      background: rgba(0,0,0,.7);
      cursor: default;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      visibility: hidden;
      /* "delay" the visibility transition */
      -webkit-transition: opacity .5s, visibility 0s linear .5s;
      transition: opacity .5s, visibility 0s linear .5s;
      z-index: 8;
    }
    .terms-dialog:target + .close-popup{  
      opacity: 1;
      visibility: visible;
      /* cancel visibility transition delay */
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
    }

	.hamburger {
		visibility: hidden;
		margin-top: 2px;
		cursor: pointer;

		&.open-menu {
			visibility: hidden;
		}

	}

	.toggle-menu{		
		display: none;
		&.open-menu {
		display: table;
		visibility: visible;
		position: fixed;
		z-index: 100;
		margin-top: -16px;
		background-color: #002e5b;
		box-shadow: 0px 0px 2px 0px grey;
		top: 39px;
		right: 15px;
		width: 160px;
		height: 170px !important;

    #close-burger{
      position: absolute;
      top: 15px;
      right: 15px;
      width: 20px;
      height: 20px;
      color: white;
      cursor: pointer;
		}

		span{
			color: #fff;
			margin-top: 20px;
		}
    ul{
      margin-top: 40px;
    }
		li{
			cursor: pointer;				
		}
	}
}

@media only screen and (max-width: 980px) {
	.hamburger{
		float: right ;
		visibility: visible;
		cursor: pointer;	
	}

  header {
    	position: absolute;
		padding: 20px 0px;
    	width: 90%;
  }
  nav{
    width: 30%;
  }

  .contact-container {
    padding-top: 14% !important;

  }
  #logo, .spnoserd-container{
		display: none !important;
	}
  .links{
    flex-direction: column;
    margin:0 !important;
  }
	input[type=checkbox] {
		position: absolute;
		top: -9999px;
		left: -9999px;
		background: none;
		&:fous {
			background: none;
		}
		&:checked {
			~ {
				nav {
					display: block;
				}
			}
		}
	}
	label {
		float: right;
		padding: 8px 0px;
		display: block;
		cursor: pointer;
	}
	nav {
		display: none;
		position: absolute;
		right: 0px;
		top: 53px;
		background-color: #002e5b;
		padding: 0px;
		z-index: 99;
		ul {
			width: auto;
			li {
				float: none;
				padding: 0px;
				width: 100%;
				display: table;
				a {
					color: #FFF;
					font-size: 15px;
					padding: 10px 20px;
					display: block;
					border-bottom: 1px solid rgba(225,225,225,0.1);
				}
			}
		}
	}
	.terms-dialog {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    transform: none;
	}

	#logo-text {
		top: 15px ;
	}
	
}
